<p>
  second works!
</p>

 <table align="center" border="1" cellpadding="4" cellspacing="4">    
        <thead>    
            <tr>    
                <th *ngFor="let header of headername; let i=index" style="background-color: Yellow;color: blue">{{header}}</th>
            </tr>    
        </thead>    
        <tbody>    
            <tr *ngFor='let employee of employees'>    
                <td>{{employee.code}}</td>    
                <td>{{employee.name}}</td>    
                <td>{{employee.gender}}</td>    
                <td>{{employee.annualSalary}}</td>    
                <td>{{employee.dateOfBirth}}</td>    
            </tr>    
            <tr *ngIf="!employees || employees.length==0">    
                <td colspan="5">    
                    No employees to show in the page....    
                </td>    
            </tr>    
        </tbody>    
    </table>    
